*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-color: #071714;
    --accent-color: #41ffc9;
    --text-color: #eee;
    --black: #000;
    --body-text-color: #bbb;
    --border-color: #bbbbbb50;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont.ttf') format('truetype');
    font-weight: 100 900; 
    font-stretch: 75% 125%; 
    font-style: normal;
}

@font-face {
    font-family: 'SourceCode';
    src: url('../fonts/sourcecode.ttf') format('truetype');
    font-weight: 100 900; 
    font-stretch: 75% 125%; 
    font-style: normal;
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    background-image:  linear-gradient(#0c312b70 0.5px, transparent 0.5px), linear-gradient(90deg, #0c312b70 0.5px, transparent 0.5px);
    background-size: 40px 40px;
    background-position: -2px -2px;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.1em;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h5 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

h6 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.4em;
    color: var(--body-text-color);
}

em {
    color: var(--accent-color);
}

.allcaps-headline {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--body-text-color);
    margin-bottom: 2rem;
}

.button {
    position: relative;
    padding: 1rem 1.3rem;
    color: var(--text-color);
    text-decoration: none;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.1rem solid var(--accent-color);
    transition: background-color 300ms ease;
    display: inline-flex;
    align-items: center;
    gap: 0.7rem;
    
}

.button:hover {
    background-color: var(--accent-color);
    color: #000;
}

.line {
    height: 0.05rem;
    background-color: var(--border-color);
    width: 100%;
}

.left {
    position: fixed;
    left: 0;
    height: 100%;
    width: 30%;
    background: linear-gradient(to right, #071714, transparent);
    pointer-events: none;
}

.right {
    position: fixed;
    right: 0;
    height: 100%;
    width: 30%;
    background: linear-gradient(to left, #071714, transparent);
    pointer-events: none;
}

main {
    position: relative;
    z-index: 2;
}

a {
    cursor: pointer;
}

.logo {
    font-family: 'SourceCode', sans-serif;
    font-weight: 400;
}

.margin-top {
    margin-top: 3rem;
}

/* ---------------------------------------------------
                    HERO - SECTION 
--------------------------------------------------- */


.hero-section-home {
    display: flex;
    height: 30rem;
    align-items: center;
    justify-content: space-between;
}

.hero-paragraph-home {
    max-width: 35rem;
    font-size: 1.1rem;
}

.container {
    max-width: 70rem;
    padding-inline: 3rem;
    margin: 0 auto;
}

.profile-circle img {
    width: 100%;
    height: 100%;
}

.profile-circle {
    border: var(--border-color) solid 0.05rem;
    background-color: var(--primary-color);
    border-radius: 99rem;
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}

.contact-icons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.contact-icons a svg {
    opacity: 0.5;
    transition: opacity 300ms ease;
}

.contact-icons a svg:hover {
    opacity: 1;
}


/* ---------------------------------------------------
                        NAVBAR 
--------------------------------------------------- */

.link-wrapper {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    justify-content: flex-end;
    align-items: center;
}
.link-wrapper li:nth-child(1){
    margin-right: auto;
}

.link-wrapper li a {
    text-decoration: none;
    color: var(--body-text-color);
}
.hamburger {
    display: none;
}

.nav-link {
    position: relative;
}

.nav-link::after{
    content: "";
    width: 100%;
    height: 0.13rem;
    position: absolute;
    background-color: var(--body-text-color);
    bottom: -20%;
    left: 0;
    transform: scale(0);
    transition: all 150ms ease;
}
.nav-link:hover::after,
.nav-link.active::after{
    transform: scale(1);
}

  /* ---------------------------------------------------
                    CV SECTION 
--------------------------------------------------- */
.cv-section-home {
    padding-block: 5rem;
}

.location-headline {
    font-size: 1.2rem;
    color: var(--body-text-color);
}

.cv-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.cv-card {
    padding: 2.5rem 1.5rem;
    background-color: #14211d;
    border-radius: 1rem;
    color: var(--body-text-color);
    box-shadow: 0px 0px 55px -20px #00000040;
    border: var(--border-color) solid 0.05rem;
}

.date {
    color: #878787;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}

.side-note {
    text-transform: none;
    font-size: 1rem;
    letter-spacing: normal;
    color: #878787;
}

 /* ---------------------------------------------------
                    SKILLS SECTION 
--------------------------------------------------- */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.skills-grid li {
    padding: 1rem;
    background-color: #14211d;
    border-radius: 0.3rem;
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    box-shadow: 0px 0px 55px -20px #00000040;
    border: var(--border-color) solid 0.05rem;
}

.skills-headline {
    font-size: 1rem;
    color: #444;
}

.hover-arrow {
    margin-left: auto;
    font-size: 1.2rem;
    color: #ffffff40;
    display: none;
}

 /* ---------------------------------------------------
                    FOOTER 
--------------------------------------------------- */

footer {
    padding-block: 5rem 3rem;
    background-color: #14211d;
    margin-top: 5rem;
}

.rights-reserved {
    text-align: center;
    margin-top: 8rem;
}

.footer-wrapper {
    display: flex;
    gap: 5rem;
} 

.footer-wrapper a {
    margin-right: auto;
}

.footer-link-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-link-wrapper li a {
    text-decoration: none;
    color: var(--body-text-color);
}

footer .logo {
    text-decoration: none;
    color: var(--body-text-color);
    font-size: 1.4rem;
}

 /* ---------------------------------------------------
                    CURSOR 
--------------------------------------------------- */

#cursor {
    height: 0rem;
    width: 0rem;
    border-radius: 99rem;
    position: fixed;
    left: -0.5rem;
    top: -0.5rem;
    pointer-events: none;
    transition: background-color 300ms ease;
    box-shadow: 0px 0px 70px 20px #41ffc9;
    z-index: 1;
}

 /* ---------------------------------------------------
                    PROJECT SECTION 
--------------------------------------------------- */

.hero-section-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.project-card {
    padding: 1.5rem 1.5rem;
    background-color: #14211d;
    border-radius: 1rem;
    color: var(--body-text-color);
    box-shadow: 0px 0px 55px -20px #00000040;
    border: var(--border-color) solid 0.05rem;
}

.project-card img {
    width: 100%;
    object-fit: cover;
    height: 17rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.project-card a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    margin-top: 1rem;
}

.project-section {
    padding-block: 5rem;
}

.project-link {
    text-decoration: none;
    color: var(--text-color);
    display: inline-flex;
    margin-top: 1rem;
}

 /* ---------------------------------------------------
                    IMPRINT 
--------------------------------------------------- */

.imprint-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.imprint-wrapper p {
    font-size: 1.2rem;
}

.imprint-section {
    padding-block: 10rem;
}

 /* ---------------------------------------------------
                    RESPONSIVE 
--------------------------------------------------- */




@media (max-device-width: 900px) {
    
    /* Hero Section */

    .hero-section-home {
        flex-direction: column;
        justify-content: flex-end;
        gap: 3rem;
        text-align: center;
    }
    .container {
        padding-inline: 3rem;
        max-width: none;
    }
    .profile-circle {
        width: 10rem;
        height: 10rem;
        order: 1;
    }
    .order-two {
        order: 2;
    }

    /* Cursor */

    #cursor {
        display: none;
    }
    .project-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .line {
        height: 0.05rem;
        background-color: var(--border-color);
        width: 80%;
    }

    .hover-arrow {
        margin-left: auto;
        font-size: 1.2rem;
        color: #ffffff40;
        display: none;
    }

    .contact-icons {
        justify-content: center;
    }




}

@media (max-device-width: 700px) {

    /* CV Section */
    
    .cv-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    /* Skills Section */

    .skills-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    /* Footer */

    footer {
        padding-block: 5rem 7rem;
    }
    
    .footer-wrapper {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        text-align: center;
    } 
    
    .footer-wrapper a {
        margin: 0 auto;
    }
    .project-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .link-wrapper{
        flex-direction: column;
        background-color: var(--primary-color);
        height: 100vh;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        z-index: 0;
        transition: all 300ms ease;
        font-size: 1.5rem;
    }

    .link-wrapper.active {
        left: 0;
        z-index: 2;
    }

    .hamburger {
        display: block;
        padding: 1rem;
        font-size: 1.1rem;
        font-weight: 500;
        background-color: var(--primary-color);
        color: var(--accent-color);
        border: 0.12rem solid var(--accent-color);
        border-radius: 1rem;
        font-family: 'SourceCode', sans-serif;
        z-index: 5;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-block: 1rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }
    .link-wrapper li:nth-child(1){
        margin: 0;
    }
    footer {
        padding-block: 5rem 1rem;
        background-color: #14211d;
        margin-top: 5rem;
    }

    .rights-reserved {
        text-align: center;
        margin-top: 5rem;
    }
    .logo {
        margin-bottom: 6rem;
    }

    .hero-section-home {
        height: 60vh;
    }
    .contact-icons a svg {
        height: 30px;
        width: 30px;
    }
    .contact-icons {
        gap: 2rem;
    }
}

@media (max-device-width: 450px) {
    .container {
        padding-inline: 2rem;
    }

    html {
        font-size: 14px;
    }

    h2:not(.allcaps-headline){
        text-align: center;
    }

    .profile-circle {
        width: 7rem;
        height: 7rem;
    }

    .skills-grid li img {
        width: 25px;
    }
}