{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webdeveloper | Adrian Berisha</title>
    <link rel="stylesheet" href="{% static "CSS/reset.css" %}">
    <link rel="stylesheet" href="{% static "CSS/global.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="{% static "JS/cursor.js" %}" defer></script>
    <script src="{% static "JS/main.js" %}" defer></script>
</head>
<body>
    <div class="left"></div>
    <div class="right"></div>
    <div id="cursor"></div>
    <header class="navbar-wrapper">
        <nav class="navbar container">
            <ul class="link-wrapper" id="linkWrapper">
                <li><a class="logo" href="/">Adrian Berisha</a></li>
                <li><a class="nav-link" href="/">Startseite</a></li>
                <li><a class="nav-link active" href="/projects">Projekte</a></li>
                <li><a class="button" href="mailto:adrianberisha0@gmail.com">Kontaktieren</a></li>
            </ul>
            <div class="hamburger" id="hamburger">menu</div>
        </nav>
    </header>
    <main>
        <section class="hero-section-projects container">
            <div>
                <h1>
                    Meine <em>Projekte</em>
                </h1>
                <p class="hero-paragraph-home">
                    Auf dieser Seite befinden sich Verlinkungen zu meinen Projekten
                </p>
            </div>
        </section>
        <div class="container line"></div>
        <section class="project-section container">
            <h2>projects</h2>
            <div class="project-grid light-big" id="projectGrid">
                {% for project in projects %}
                <div class="project-card light-big">
                    <img src="{{ project.imagelink.url }}" alt="{{ project.title }}">
                    <div class="skills-wrapper">
                    {% for skill in project.skills.split(",") %}
                    <span class="skill">{{ skill.strip }}</span>
                    {% endfor %}
                    </div>
                    <h3 class="allcaps-headline">{{ project.title }}</h2>
                    <p>{{ project.text }}</p>
                    <p class="date">{{ project.date }}</p>
                    <a class="project-link nav-link" href="{{ project.link }}">Projekt besichtigen --></a>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-wrapper container">
            <a class="logo" href="/">Adrian Berisha</a>
            <ul class="footer-link-wrapper">
                <li><a class="nav-link" href="https://github.com/berisha-ad">Github</a></li>
                <li><a class="nav-link" href="https://www.linkedin.com/in/adrian-berisha-b7a03425b/">LinkedIn</a></li>
                <li><a class="nav-link" href="https://www.instagram.com/berisha_ad/">Instagram</a></li>
            </ul>
            <ul class="footer-link-wrapper">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="/projects">Projekte</a></li>
                <li><a class="nav-link" href="mailto:adrianberisha0@gmail.com">Kontaktieren</a></li>
            </ul>
            <ul class="footer-link-wrapper">
                <li><a class="nav-link" href="{% static "files/Lebenslauf.pdf" %}" download="Lebenslauf.pdf">Lebenslauf herunterladen</a></li>
                <li><a class="nav-link" href="/imprint">Impressum</a></li>
            </ul>
        </div>
        <p class="rights-reserved">© 2024 Adrian Berisha. Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>